<app-navbar></app-navbar>
<div class="container">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5 align-self-center" style="display: flex;">
        <form [formGroup]="formulario" (ngSubmit)="save()" class="border p-3 form">
          <div style="width: 100%;text-align: center;">
            <span style="font-size: 25px;">
              Editar datos del Curso
            </span>
          </div>

          <div class="form-group mb-3">
            <label for="name" style="font-weight: bold;">Nombre del Curso:</label>
            <input [(ngModel)]="curso.name" type="text" name="name" id="name" class="form-control"
              formControlName="name">
            <small class="text-danger"
              *ngIf="formulario.get('name')?.errors?.['required'] && formulario.get('name')?.touched">Complete
              este
              campo</small>
          </div>

          <div class="form-group mb-3">
            <label for="documentTeoric" style="font-weight: bold;">Documentación teórica:</label>
            <input [(ngModel)]="curso.documentTeoric" type="number" name="documentTeoric" id="documentTeoric" class="form-control"
              formControlName="documentTeoric">
            <small class="text-danger"
              *ngIf="formulario.get('documentTeoric')?.errors?.['required'] && formulario.get('documentTeoric')?.touched">Complete
              este
              campo</small>
          </div>

          <div class="form-group mb-3">
            <label for="practicalDuration" style="font-weight: bold;">Duración practica:</label>
            <input [(ngModel)]="curso.practicalDuration" type="number" name="practicalDuration" id="practicalDuration" class="form-control"
              formControlName="practicalDuration">
            <small class="text-danger"
              *ngIf="formulario.get('practicalDuration')?.errors?.['required'] && formulario.get('practicalDuration')?.touched">Complete
              este
              campo</small>
          </div>

          <div class="form-group mb-3">
            <label for="maxQuantity" style="font-weight: bold;">Cantidad máxima de alumnos:</label>
            <input [(ngModel)]="curso.maxQuantity" type="number" name="maxQuantity" id="maxQuantity" class="form-control"
              formControlName="maxQuantity">
            <small class="text-danger"
              *ngIf="formulario.get('maxQuantity')?.errors?.['required'] && formulario.get('maxQuantity')?.touched">Complete
              este
              campo</small>
          </div>

          <button type="submit"
            class="btn btn-primary btn-sm form-control" data-bs-toggle="modal"
            data-bs-target="#exampleModal">Actualizar Campos</button>
            
        </form>
      </div>
    </div>